.modal-in-or-delete.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        p
    div.modal-footer
        button(data-dismiss="modal").btn-warning#btn2 Patient Info
        button(data-dismiss="modal").btn-success#btn0 Done
        button(data-dismiss="modal").btn-primary#btn1 Go in
