#navbar
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='#').brand Control Panel
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
		ul.nav.nav-pills
			li.active(id='settings')
				a
					#account-settins Account settings
			li(id='create')
				a
					#create-account Create Account
