extends layout

block content

    user = typeof(udata) != 'undefined' ? udata : { }
    input(type='hidden', value= user._id)#userId
    input#user-connected-tf.input.hide(type='text', name='user-connected', value= user.dni)


    div#videos
        div#video-container

        div#video-container2
        
    button#btn-end.btn.btn-primary End Call


    include modals/alert

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/controllers/roomController.js')
    script(src='/vendor/erizo/erizo.js')
