
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#timetable-container

    #doctors-tf
        label.control-label Doctor
        select.selectpicker.show-menu-arrow

    button#btnBack.fc-button.fc-button-prev.fc-state-default.fc-corner-left Back
    button#btnNext.fc-button.fc-button-next.fc-state-default.fc-corner-left Next
    button#btnToday.fc-button.fc-button-today.fc-state-default.fc-corner-left.fc-corner-right Today
    div#calendar

// display form errors in a custom modal window //

